.home {
  background-color: rgba(235, 242, 247, 1);
  height: 100vh;
  display: flex;
  overflow: hidden;
  .newsContainer {
    flex: 1;

    .mainContainer {
      height: 88vh;
      overflow-y: auto;
      overflow-x: hidden;
      padding-top: 7vh;
      justify-content: center;
    }
    .mainContainerCards {
      flex-wrap: wrap;
      display: flex;
      align-content: flex-start;
      overflow-y: auto;
      overflow-x: hidden;
      padding-top: 7vh;
    }
  }
  .shiftContainer {
    margin-left: 500px;
  }
  .newsContainerCards {
    flex-wrap: wrap;
    display: flex;
    align-content: flex-start;
  }
}
